body{
    background-image: linear-gradient(90deg, rgba(37,113,128,1) 0%, rgba(242,229,191,1) 50%, rgba(253,139,81,1) 100%);
    display: flex;
    background-size: cover;
}

.container{
    margin: 50px auto;
}

.container input{
    padding: 15px;
    border-radius: 10px;
}


.btn:hover{
    scale: 1.2;
} 

h1{font: cursive;}